<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel Planner</title>
    </head>
    <body>
        <!-- Page header -->
        <header class="page__header">
            <h1>Travel Planner</h1>
        </header>
        <!-- Page main section -->
        <main>
            <div class="menu__bar">
                <button class="menu__button" type="button">add trip</button>
            </div>
            <section>
                <div class="box" id="trip__img">
                    <!-- <img src="../media/confused_dog.jpg" alt="Vacation City"> -->
                </div>
                <div class="box" id="trip__info">
                    <form class="" onsubmit="return Client.addTrip(event)">
                        <input id="trip_dest" type="text" name="trip_place" value="" placeholder="Trip Destination (e.g. Orlando)">
                        <input id="trip_start" type="date" name="trip_start">
                        <input id="trip_end" type="date" name="trip_end">
                        <input type="submit" name="" value="submit" onclick="return Client.addTrip(event)" onsubmit="return Client.addTrip(event)">
                    </form>                        
                </div>
            </section>
        </main>
        <!-- Page footer -->
        <footer class="page__footer">
            <p>FEND Capstone - Travel App</p>
        </footer>

    </body>
</html>
