<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel Planner</title>
    </head>
    <body>
        <!-- Page header -->
        <header class="page__header">
            <h1>Travel Planner</h1>
        </header>
        <!-- Page main section -->
        <main>
            <section>
                <div class="" id="trip__img">
                    <!-- <img src="../media/confused_dog.jpg" alt="Vacation City"> -->
                </div>
                <div class="" id="trip__info">
                    <form onsubmit="return Client.addTrip(event)">
                        <h2>Enter Trip Information</h2>
                        <div class="trip_info_entry">
                            <label for="trip_place">Destination:</label>
                            <input id="trip_dest" type="text" name="trip_place" value="" placeholder="Enter Location"> 
                        </div>
                        <div class="trip_info_entry">
                            <label for="trip_start">Start Date:</label>
                            <input id="trip_start" type="date" name="trip_start">
                        </div>
                        <div class="trip_info_entry">
                            <label for="trip_end">End Date (optional):</label>
                            <input id="trip_end" type="date" name="trip_end">
                        </div>
                        <input type="submit" name="" value="submit trip info" onclick="return Client.addTrip(event)" onsubmit="return Client.addTrip(event)">
                    </form>
                    <div id="trip__summary"></div>
                </div>
                <div id="trip__weather">
                    <h2></h2>
                    <div id="trip_weather_entries" class=""></div>
                </div>
            </section>
        </main>
        <!-- Page footer -->
        <footer class="page__footer">
            <p>FEND Capstone - Travel App</p>
        </footer>
    </body>
</html>
