body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fff7f3;
}

// .box {
//     display: flex;
//     border: 1px solid red;
//     align-items: center;
//     justify-content: center;
//     align-content: center;
// }

// #place__holder {
//     background-color: #fff7f3;
//     min-height:15vh;
// }