main {
    flex: 2;
    background-color: #fde0dd;

    .menu__bar {
        background-color: #fff7f3;
    }

    section {
        display: grid;
        height: 65vh;
        padding: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10px;

        #trip__img {
            display: flex;
            height: 100%;
            width: 100%;
            margin-right: auto;
            justify-content: center;
            align-items: start;

            img {
                max-height: 100%;
                max-width: 100%;
                object-fit: cover;
            }
        }
    }
}